.product{
    background-color: #F9F9F9;
    width: 188px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    /* padding-bottom: 20px; */
    border-radius: 25px;

    float: left;
}
#products {
    color: black;
}

.product:hover .addToCartBtn {
    visibility: visible;
    opacity: 1;
    transition: all .35s ease-in-out;
}

.product-image {
    height: 120px;
    max-width: 188px;
    overflow: hidden;

    /* padding-top: 15px; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.product-image img {
    display: block;
    border-radius: 20px;
    margin: auto;

    max-width: 188px;
    max-height: 120px;
}

.prodTitle{
    text-align: center;
}

.price{
    text-align: center;
}

.addToCartBtn {
    width: 100%;
    border-radius:15px !important;
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease-in-out;
}

#load-btn{
    clear: both;
    display: block;

    margin-right: auto;
    margin-left: auto;
}