.product{
    background-color: #F9F9F9;
    width: 188px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    /* padding-bottom: 20px; */
    border-radius: 25px;
}

#prod-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
}

#buttonDiv {
    padding-top: 50px;
    padding-bottom: 150px;
}

#products {
    color: black;
}

.product:hover .addToCartBtn {
    visibility: visible;
    opacity: 1;
    transition: all .35s ease-in-out;
}

.product-image {
    height: 120px;
    max-width: 188px;
    overflow: hidden;

    /* padding-top: 15px; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.product-image img {
    display: block;
    border-radius: 20px;
    margin: auto;

    max-width: 188px;
    max-height: 120px;
}

.prodTitle{
    text-align: center;
}

.price{
    text-align: center;
}

.addToCartBtn {
    width: 100%;
    border-radius:15px !important;
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease-in-out;
}

#load-btn{
    clear: both;
    display: block;

    margin-right: auto;
    margin-left: auto;

}
.filter-list {
    border-radius: 20px;
    width: 160px;
    height: 70%;
    /*position: fixed;
    z-index: 1;
    top: 80px;
    left: 10px;*/
    background: #F9F9F9;
    overflow-x: hidden;
    padding: 8px 0;

    float: left;
}

.filter-list h3 {
    text-align: center;
}

.filter-list a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #2196F3;
    display: block;
}

body{
    margin-bottom: 60px !important;
    /* margin-left: 80px !important; */
}
