.product{
    background-color: lightgrey;
    width: 188px;
    height: 236px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;

    float: left;
}
#products {
    color: black;
}

.prodImg{
    display: block;

    height: 120px;

    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.prodTitle{
    text-align: center;
}

.price{
    text-align: center;
}