{% extends "base/base.j2" %}

{% import "base/macros.j2" as macro %}
{% import "bootstrap/wtf.html" as wtform %}

{% block title %}Sell A Product{% endblock %}

{% block styles %}
    {{ macro.css_stylesheet(url_for('static', filename='styles/add_product.css')) }}
{% endblock %}

{% block scripts %}
    {{ macro.script(url_for('static', filename='scripts/displayUploadedImage.js')) }}
{% endblock %}

{% block content %}
    {% call macro.container() %}
        <div class="page-header">
            <h1>
                {% if edit %}
                    Edit a Product
                {% else %}
                    Sell a Product
                {% endif %}
            </h1>
        </div>

        {% call macro.form(enctype="multipart/form-data") %}
            {% call macro.row(h_center=true, v_center=true) %}
                {% call macro.column('col-md-6') %}
                    {{ form.hidden_tag() }}
                    {% call macro.row() %}
                        {% call macro.column('col-sm-9') %}
                            {{ wtform.form_field(form.posting_title) }}
                        {% endcall %}
                        {% call macro.column('col-sm-3') %}
                            {{ wtform.form_field(form.price) }}
                        {% endcall %}
                    {% endcall %}
                    {{ wtform.form_field(form.description) }}
                    {{ wtform.form_field(form.tags) }}
                    {{ wtform.form_field(form.condition) }}
                {% endcall %}
                {% call macro.column('col-md-6') %}
                    <img class="product-image"
                         id="product-image"
                         src="{% if edit %}{{ url_for('static', filename="images/products/") ~ editing_image_file }}{% else %}{{ url_for('static', filename='images/product_image_not_available.png') }}{% endif %}"
                         alt="posting image">
                    <div class="form-group">
                        <label class="control-label" for="image_file">
                            {% if edit %}
                                Change Image
                            {% else %}
                                Image
                            {% endif %}
                        </label>
                        <input id="image_file" name="image_file" type="file"
                               onchange="loadFile(event, 'product-image')" {% if not edit %}required{% endif %}>
                    </div>
                {% endcall %}
            {% endcall %}

            {% call macro.row(h_center=true) %}
                <button class="btn btn-primary submit-button" type="submit">
                    {% if edit %}
                        Save
                    {% else %}
                        Sell
                    {% endif %}
                </button>
            {% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}