
{% extends "base/base.j2" %}
{% import "base/macros.j2" as macro %}

{% block title %}Products{% endblock %}

{% block styles %}
    {{ macro.css_stylesheet(url_for('static', filename='styles/products.css')) }}
{% endblock %}
{% block content %}
<body>
    {{ super() }}
    <div class="closesCart container">
        {% for p in products %}
            <div class="product" id="{{p[0]}}">
                <img class="prodImg" src="/static/images/prodID.jpg" alt="product image">
                <h3 class="prodTitle">{{p[1]}}</h3>
                <p class="price">{{p[2]}}</p>
            </div>       
        {% endfor %}     
    </div>
</body>
{% endblock %}