{% extends "base/base.j2" %}

{% import "base/macros.j2" as macro %}
{% import "bootstrap/wtf.html" as wtform %}

{% block title %}Recover Password{% endblock %}

{% block styles %}
    {{ macro.css_stylesheet(url_for('static', filename='styles/login.css')) }}
{% endblock %}

{% block content %}
{{super()}}
<body >
<div class="closesCart container-fluid h-100">
    <div class="row h-100">
        <div id="left" class="col-lg h-100">
            <div id="signinContainer" class="container">
                <h1>Recover Password</h1>
                <p>Upon submitting we will generate a new password for the specified account, and will email the temporary password to the account.</p>

                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ wtform.form_field(form.email) }}
                    {{ form.submit(class_="btn btn-danger") }}
                </form>
                <a href="{{ url_for('login_get') }}">Sign in</a>
            </div>
        </div>
        <div id="right" class="col-lg h-100">

        </div>
    </div>
</div>
</body>
{% endblock %}


{% block footer %}

{% endblock footer %}


