{% extends "base/base.j2" %}

{% import "base/macros.j2" as macro %}
{% import "bootstrap/wtf.html" as wtform %}

{% block title %}Register{% endblock %}

{% block styles %}
    {{ macro.css_stylesheet(url_for('static', filename='styles/login.css')) }}
{% endblock %}

{% block content %}
    <body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div id="left" class="col-lg h-100">
                <div id="signinContainer" class="container">
                    {% for message in get_flashed_messages() %}
                        <div class="alert-error">Error: {{ message }}</div>
                    {% endfor %}
                    <h1>Register</h1>
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        {{ wtform.form_field(form.email) }}
                        {{ wtform.form_field(form.fname) }}
                        {{ wtform.form_field(form.lname) }}
                        {{ wtform.form_field(form.password) }}
                        {{ wtform.form_field(form.confirm) }}
                        {{ wtform.form_field(form.profile_image) }}
                        {{ wtform.form_field(form.accept_tos) }}
                        {{ form.submit(class_='btn btn-primary') }}
                    </form>
                    <a href="{{ url_for('login_get') }}">Sign In</a>
                </div>
            </div>
            <div id="right" class="col-lg h-100">

            </div>
        </div>
    </div>
    </body>
{% endblock %}

{% block footer %}

{% endblock footer %}