<!DOCTYPE html>

{% extends "base/base.j2" %}

<html>
{% block title %}Terms of Service{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/terms.css') }}">
{{ super() }}
{% endblock %}

<body>
    {% block nav %}
    {{ super() }}
    {% endblock %}

{% block content %}
    {{ super() }}
    <main class="closesCart container-fluid">
        <div class="row text-center d-flex justify-content-center">
            <h1 class="font-weight-bold pt-5">Terms of Sale</h1>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <p class="font weight-light col-md-8 pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nunc id urna phasellus erat vitae sapien amet. Morbi egestas cras euismod at vitae neque. Faucibus suspendisse rhoncus condimentum gravida et, lectus. Diam urna consectetur sed arcu sem. Accumsan, diam tempus malesuada amet. Id elementum urna vestibulum congue risus, condimentum leo elit pellentesque. Ac tempor facilisi neque eleifend tortor condimentum tortor donec. Nulla tempor eget rhoncus, pellentesque feugiat. Turpis pharetra lobortis nisl, urna metus cursus massa in. Interdum purus orci a fusce mauris, libero aliquet.
Ullamcorper vel imperdiet iaculis ullamcorper. Nulla iaculis posuere ornare platea id nec amet donec. Pharetra tempus commodo mauris a mauris dolor. Sit vivamus scelerisque cursus lorem vestibulum, euismod. Eu sagittis lacus pretium ac nunc at risus, euismod. Sit pharetra, arcu iaculis amet, diam eget sagittis quis. At sem vulputate aliquam ac in tellus consectetur. Nunc quam vitae, tincidunt placerat nisi, justo, vulputate. Eget faucibus scelerisque nec bibendum purus neque vestibulum nulla massa. Elementum eget blandit justo, adipiscing sem augue. Nunc eget id ac cursus pulvinar malesuada senectus dolor.
Vitae in ullamcorper tempus, lacinia auctor viverra. Quis id enim, semper sagittis ut etiam turpis vel consectetur. Ullamcorper quam eleifend augue habitasse viverra bibendum. Fringilla suscipit proin sed mollis parturient at neque. Netus vel dignissim cursus elit ornare morbi purus a non.
Ultrices et arcu sodales ut. In sed libero sagittis, malesuada tellus vel, viverra sit aliquet. Scelerisque pellentesque cras sed duis vestibulum, in porttitor. Arcu viverra at ut mattis interdum viverra ullamcorper. Sem habitasse bibendum sit purus vestibulum tristique nisl, consectetur. Elementum id leo maecenas aliquam suspendisse. Pulvinar tortor ornare velit rhoncus, eros. Vel nunc et donec sit ultrices natoque sed. At sodales proin gravida vitae nisl. Tortor vitae non nisi, mauris in scelerisque sed egestas mi. In mattis vitae morbi pretium massa. Dui pulvinar tristique et viverra convallis tincidunt tincidunt aenean.
Laoreet at mauris volutpat tincidunt cras et. Pulvinar integer iaculis quisque vulputate viverra sit ornare odio amet. Tellus vel vel scelerisque et. Vestibulum et tincidunt et libero. Est est nullam consequat, pretium auctor massa mi magna vel. Vulputate consequat pharetra enim sed accumsan sit viverra. Leo quis in magna facilisi neque, morbi at bibendum. Condimentum purus lorem rutrum diam ac iaculis congue mauris. Bibendum lacus eget fringilla nulla interdum. Feugiat sed egestas et, semper arcu praesent. In hendrerit aliquam cursus fames non ut. Elementum etiam cursus eget etiam platea justo diam.
Blandit ut nullam at proin in leo tellus ipsum. Non interdum integer praesent non ut. Blandit diam massa consequat a blandit elementum ullamcorper. Pretium, orci pellentesque diam sed adipiscing congue tellus. Condimentum magna gravida nullam ultrices mauris, augue cursus pellentesque dictum. Integer bibendum tincidunt at quis etiam elementum facilisis pellentesque. Sed consequat mauris enim, cras facilisi ut. Ipsum ut elementum, tortor lectus. Volutpat scelerisque sodales adipiscing vitae diam sapien, enim molestie. Dis porta est rhoncus elementum nibh nunc. Magnis etiam facilisis pellentesque molestie. Ac, iaculis vulputate volutpat sed vehicula nisi. Odio etiam fames augue duis ullamcorper. Eget tellus velit commodo massa orci. Ipsum consequat, tempor, congue hendrerit auctor ultrices.
Semper diam viverra dignissim dictum malesuada. Egestas consequat vulputate congue donec et leo, neque mollis porttitor. Ornare lorem et dignissim commodo vitae nibh quisque in. Adipiscing accumsan nisl mauris eleifend viverra at platea et. Dictum enim lacus nulla ipsum sit. Tortor in tortor ultrices consectetur. Feugiat blandit phasellus viverra viverra pharetra quis consequat turpis amet.
Eu suscipit felis, posuere tortor, imperdiet vestibulum, eu tellus et. Ornare nulla fringilla tortor condimentum. Magna sollicitudin lectus in faucibus. Egestas tellus quis tincidunt posuere cras ultricies nibh malesuada egestas. Tortor elementum erat diam proin donec ipsum lorem. Cursus sed et consequat porttitor tincidunt eget vestibulum. Et massa at non duis varius ac diam. Volutpat sagittis massa arcu consectetur. Porttitor in turpis sed sit. Volutpat vulputate ligula sed risus etiam vel, velit. Eu dignissim adipiscing mauris a proin eget lectus vitae. Integer lectus risus adipiscing pretium lorem risus. Aliquam nunc consectetur nulla sapien ac, pellentesque at.
In cras pellentesque amet, diam consectetur egestas. Nunc gravida mauris eget faucibus at augue varius. Nibh viverra nulla pellentesque arcu sit gravida molestie vehicula. Amet tortor pretium tempus habitant tellus tincidunt ullamcorper. Vivamus morbi in habitant neque tincidunt semper vitae. Mollis nec cras mi, auctor. Velit morbi quis adipiscing pulvinar libero vel. Purus quisque lacus posuere eget. Aliquet mollis egestas urna nisl enim quisque dui sed. Tellus, urna, fringilla pellentesque viverra praesent purus habitant. At tellus urna nam nulla ut arcu aliquam, risus nisl.
Leo orci, hendrerit sed vulputate et tincidunt lorem ut velit. Mauris nec varius ut faucibus viverra imperdiet eget facilisis. Ultricies magna mi quam morbi nullam in pulvinar. Amet in id ante et ullamcorper diam diam. Etiam quisque mauris id sed in enim. Et elementum sit quis id egestas urna, accumsan. Ut turpis consequat semper cursus. Non vestibulum libero convallis ac, platea mollis ut gravida. Sit tincidunt proin cras euismod ut. Cursus et dictumst ut interdum lectus mattis lorem. Ultrices neque iaculis at accumsan felis egestas ipsum adipiscing in. Rhoncus gravida tellus bibendum sagittis cursus enim ut sed. Faucibus pulvinar aliquet rhoncus, euismod purus. Tristique morbi amet, vestibulum et senectus.
Cras mattis phasellus feugiat lectus eget quam nisi, in. Varius vitae aliquam praesent at nunc varius ornare ut tempus. Cursus porttitor netus in cursus dolor quis. Nisl, odio volutpat ut varius tristique dui, arcu nulla in. Sollicitudin consectetur odio sagittis auctor dignissim suspendisse faucibus ultricies adipiscing. Felis at ac dui sapien aliquam habitant tempor. Est pharetra, id volutpat sit habitant netus egestas. Et ut massa placerat lacus nulla ut tincidunt neque et. Sed sed varius condimentum dictum quis vivamus. At velit id amet enim pulvinar egestas aliquet at. Nibh mauris non dictum sit integer. Lectus fermentum nisi arcu fringilla sed senectus vehicula. Ultrices ac neque sit nullam habitant neque augue dignissim purus.
Nullam turpis suscipit mauris, tortor risus maecenas duis felis. Metus, quam cursus congue vel et nec nunc eu adipiscing. Enim, in massa diam aliquet curabitur tempor, libero a. Mauris semper rhoncus enim lacus molestie neque, ac posuere. Id eu massa nulla nisl, accumsan nibh. Sed nec vitae pellentesque ac fames sed eget congue euismod. Cursus at nec vulputate quis vestibulum.
In praesent vestibulum nec vulputate ipsum. Pellentesque mi ac ut eu aliquam condimentum felis. Et iaculis pellentesque id ac. Varius tellus blandit varius eu dictum integer. Aliquet cras ultrices lectus aliquet fermentum, sem cras mattis ultrices. Enim sagittis, morbi magna quam leo vulputate dictum porttitor sit. Elit at ipsum elementum augue vitae luctus. Augue accumsan augue tellus nibh. Amet montes, blandit in nibh sem eget pellentesque. Molestie est, faucibus at egestas tincidunt eu, lorem felis. A at dictum blandit eget velit, id. Donec viverra dui at quis eget quis ac quisque eget. Accumsan, tortor turpis in ornare lorem integer blandit arcu. Malesuada fringilla id feugiat volutpat turpis faucibus.
Adipiscing adipiscing nibh arcu ac. Pulvinar ut nisi pellentesque amet. Ullamcorper diam ipsum felis quis. Diam ut sed quis dolor euismod penatibus rutrum quisque. Pharetra integer cursus massa ut lectus. Turpis odio cras mauris platea mauris.
Luctus bibendum fusce vel eu vulputate euismod id. Eu integer rhoncus nisi cursus vitae tincidunt tellus. Vulputate eu pellentesque luctus ullamcorper. Mauris, quisque volutpat fusce mattis sit sit suspendisse diam gravida. Est, mattis lectus venenatis pellentesque urna vitae nam. Odio proin pretium mattis nunc id donec tristique purus dolor. Ante pulvinar eu ultricies at sed consequat eu at morbi. Quisque urna at sapien enim sit est. Turpis bibendum nisl, mauris pulvinar pellentesque facilisis scelerisque ut habitasse. Tempor ut odio id duis et. Velit sem purus est diam enim. Commodo pretium nisi, purus natoque. Commodo varius eget orci, etiam. Ante dictumst libero in massa placerat. Tellus eget gravida quis vulputate nulla id erat.
Et morbi ac facilisis at mi eget donec ut. Nullam potenti velit elementum platea. Eget venenatis commodo, integer libero. Enim, quis tellus dictum pharetra nulla venenatis, in. Pretium, amet vulputate ante parturient purus elementum, et. Risus aliquet sapien lacus id ultricies senectus. Ornare pulvinar odio id amet.
Eros, aliquam lectus porttitor amet donec aliquet urna. Cras sit morbi viverra massa in praesent orci. Amet, eu ut nullam purus ultrices. Ornare est arcu, eget ac vitae arcu etiam. Elit duis sagittis, fringilla nunc faucibus a augue. Adipiscing ut ut venenatis diam sit nec porttitor vulputate sed. Cras vitae sed aliquam posuere.
Euismod sem id fermentum volutpat eu. Vel scelerisque convallis feugiat purus eget metus amet fermentum eget. Enim ornare dolor arcu, consequat, mollis urna. At felis ac nunc, amet dolor velit velit, turpis fringilla. Dictum elit, sapien, ipsum quam. A arcu ultrices faucibus gravida iaculis cursus orci.
Sociis eget nibh fames a, sapien. Ante odio nisi ullamcorper tortor. Vel odio mattis tortor nunc, non sed. Magna nisl tellus vitae donec dictum. Id aliquam hendrerit nunc purus curabitur velit vulputate. Amet, in tempus consectetur magna pellentesque. Ut sed a id velit ornare etiam molestie.
Nec in convallis facilisi sed lorem lorem non, duis. Morbi et sed mi nascetur luctus purus. Luctus sem molestie aenean enim nec. Nulla tempor ac arcu massa dictum posuere. Ultrices proin in cras nunc, augue. Varius duis nibh urna ut mauris ac interdum fermentum. Nibh sed nibh sed in commodo posuere venenatis fermentum. Gravida ultricies integer aliquam rhoncus nisl ipsum. Velit pharetra vitae eu aliquet scelerisque pulvinar nisi. Nunc mauris, sed neque pharetra quam nulla.
Morbi vestibulum risus amet lacus. Urna vel, orci semper placerat. Accumsan, congue ligula adipiscing sed sed arcu lobortis. Mi, convallis vitae, ultricies non nisi, velit. Mattis nunc diam venenatis lacus in eu urna, amet phasellus.
Porttitor ut senectus ac condimentum pretium felis, nullam molestie. Suscipit tempor est nulla habitant id cursus orci pellentesque at. Tempor nunc sem sit pellentesque. Malesuada gravida amet, porta nam viverra diam risus. Condimentum tempor viverra ultrices viverra. Sed nam sagittis morbi non.
Tristique diam viverra molestie viverra tellus turpis. Sit egestas nisl scelerisque id donec urna ut etiam blandit. Sagittis a morbi amet tortor orci quisque elementum. Non purus est, consequat eu. Nulla vestibulum sed eros, sit. In sed pharetra ac fermentum, vulputate volutpat. Velit sed turpis ultricies volutpat diam.
Egestas at cursus integer viverra. Quis vestibulum arcu pretium mi turpis tellus, orci tristique elementum. Fermentum ut magna tincidunt dolor vitae, orci morbi nunc sit. Lacus malesuada bibendum quam neque quam diam. Consectetur morbi id fusce pellentesque odio nulla suspendisse. Sit dui nunc velit faucibus pellentesque non vitae mauris, sagittis. Nunc at risus odio volutpat orci.
Elementum ut id diam sed sagittis nec adipiscing. Convallis amet, tellus donec mauris. Lacinia fusce dapibus est id. Est est facilisis suspendisse sed arcu magna laoreet aliquam. Consectetur tincidunt diam sit aliquam tortor elit feugiat. Tristique proin sociis lorem adipiscing donec blandit pellentesque cursus proin.</p>
        </div>
    </main>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

</body>