{% extends "base.j2" %}
{% block title %}Products{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/styles/products.css">
{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product" id="prodID">
                    <img class="prodImg" src="/static/images/truck.jpg" alt="product image">
                    <h3 class="prodTitle">Product Title</h3>
                    <p class="price">Price</p>
                </div>
            </div>
            <div class="col">
                <div class="product" id="prodID">
                    <img class="prodImg" src="/static/images/truck.jpg" alt="product image">
                    <h3 class="prodTitle">Product Title</h3>
                    <p class="price">Price</p>
                </div>
            </div>
            <div class="col">
                <div class="product" id="prodID">
                    <img class="prodImg" src="/static/images/truck.jpg" alt="product image">
                    <h3 class="prodTitle">Product Title</h3>
                    <p class="price">Price</p>
                </div>
            </div>
            <div class="col">
                <div class="product" id="prodID">
                    <img class="prodImg" src="/static/images/truck.jpg" alt="product image">
                    <h3 class="prodTitle">Product Title</h3>
                    <p class="price">Price</p>
                </div>
            </div>
            <div class="col">
                <div class="product" id="prodID">
                    <img class="prodImg" src="/static/images/truck.jpg" alt="product image">
                    <h3 class="prodTitle">Product Title</h3>
                    <p class="price">Price</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
{% endblock %}
